p {
    background-color: aquamarine;
}

/*Normale Selektoren*/
h1, h2, h3 {
    color: greenyellow;
}

/*CSS-Klasse definieren*/
.highlight {
    background-color: deeppink;
}

.rightaligned {
    text-align: right;
}

/*CSS über IDs*/
#special-button {
    color: red;
}
